body{
    background:url(stethoscope-heartbeat-red.jpg) no-repeat; background-attachment:fixed;background-size: cover;background-position: center;
}

h3
    {
    font-family:Bahnschrift;
    color:#7030A0;
    font-size:40px;
    position: absolute;
    left: 325px;
    top: 1px;
    }